.layout {
    box-sizing: border-box;
    background-color: #000;
}

.profile__container {
    margin: 100px 50px;
    background-color: bisque;
    border: 2px solid;
    border-radius: 12px;
}

.profile__user {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}