.b-layout {
    box-sizing: border-box;
}

.profile__container {
    margin-top: 100px;
    background-color: bisque;
    border: 2px solid;
    border-radius: 12px;
    width: 30%;
}

.profile__user {
    padding: 40px;
    display: flex;
    gap: 20px;
}

.profile__userInfoText {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

._loaderHidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
    z-index: -1;
}